<!-- <div id="article-banner">
  <h2>地下车库</h2>
  <p class="post-date">又一个垃圾站</p>
</div>
<!--<main class="app-body project-app">
  <div class="card-container" id="all-project"></div>
</main>
<main class="app-body">
  <!--<div id="category-cloud">
    <% site.categories.map(function(category, index) { %>
      <a class="category<%= Math.round(Math.random() * 4) %>" data-name="category-<%= category.name %>"><%= category.name %></a>
    <% }) %>
  </div>
  <% site.categories.map(function(category, index){ %>
    <div class="category-list">
      <h3 class="category-name" id="category-<%= category.name %>"><%= category.name %></h3>
      <% category.posts.map(function(post) { %>
        <ul class="category-preview">
          <li>
            <a href="<%- config.root %><%- post.path %>" target="_blank"><%- post.title || "Untitled" %></a>
          </li>
        </ul>
        <% }) %>
    </div>
    <% }) %>
</main>

  <% if (page.total > 1){ %>
    <%- partial('_partial/pager') %>
  <% } %>
</main> -->

